body {
    text-align: center;
}
.columns {
    white-space: nowrap;
}
.column {
    white-space: normal;
    width: 100%;
    padding: 30px;
    display: flex;
    vertical-align: top;
    justify-content: center;
}
.column.info {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
}
.column.previews {
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}
.column.previews .preview {
    height: 500px;
    max-width: 250px;
    margin: 10px;
    animation: up 2s ease-out;
}
.column.previews .preview img.frame {
    position: relative;
    top: 0;
    height: 100%;
}
.column.previews .preview img.screenshot {
    position: relative;
    z-index: -1;
}
.column.previews .preview.iphone_x img.screenshot {
    height: 470px;
    top: -491px;
}
.column.previews .preview.pixel img.screenshot {
    width: 216px;
    top: -469px;
}
@keyframes up {
    0% { transform: translateY(100vh); }
    40% { transform: translateY(100vh); }
    100% { transform: translateY(0); }
}

.logo {
    width: 500px;
    max-width: 90vw;
    animation: over 1s ease-out;
    margin-bottom: 15px;
}
@keyframes over {
    from { transform: translateX(-100vw); }
    to   { transform: translateX(0); }
}

.download-buttons {
    margin-top: 15px;
}
.download-buttons .download-button {
    text-decoration: none;
}
.download-buttons .download-button img {
    width: 200px;
}
h1, .download-buttons {
    animation: 3s fade;
}

@keyframes fade {
    0% { opacity: 0; }
    60% { opacity: 0; }
    100% { opacity: 1; }
}

@media (min-width: 1100px) {
    .column {
        height: 100vh;
        display: inline-flex;
    }
    .column.previews {
        width: 45%;
    }
    .column.info {
        width: 50%;
    }
}
