@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    src: url(../fonts/JosefinSans-Italic.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #15202b;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
a {
    color: inherit;
}

h1 {
    font-style: italic;
    margin-top: 5px;
}

footer {
    padding: 20px;
    color: #434C55;
}
