@font-face {
    font-family: 'Big John';
    src: url('fonts/BigJohnPro-Bold.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #15202b;
    color: white;
    font-family: 'Big John', sans-serif;
    text-align: center;
}
a {
    color: inherit;
}

.columns {
    white-space: nowrap;
}
.column {
    white-space: normal;
    width: 100%;
    padding: 30px;
    display: flex;
    vertical-align: top;
    justify-content: center;
}

.column.info {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
}
.column.previews {
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}
.column.previews img {
    height: 500px;
    margin: 10px;
    display: inline-block;
}

.logo {
    margin-left: -10px;
    width: 500px;
    max-width: 90vw;
}
.download-buttons {
    margin-top: 10px;
}
.download-buttons .download-button {
    text-decoration: none;
}
.download-buttons .download-button img {
    width: 200px;
}

footer {
    padding: 20px;
    color: #434C55;
}

@media (min-width: 1000px) {
    .column {
        height: 100vh;
        display: inline-flex;
    }
    .column.previews {
        width: 45%;
    }
    .column.info {
        width: 50%;
    }
}
